@media(min-width: 2450px)
{ .ohmyfood-secondary {
    height: 6em;
                }
    .retour{
    position: absolute;    
top: 3%;
left: 2%;
   
    }
    
    .logo-secondary {
        position: relative;
    padding-top: 1%;
            width: auto;
            height: 60%;
         }		




    .child1{ position: relative;
    z-index: 1;    text-align: center;
    }



    .imgmain{
    display: inline-block;
    width: 50%;
    max-width: 50%;
    height: auto;
    }

    h1{
    width: 100%;
    text-align: center;}

    .nomresto{display: flex;
    flex-direction: row;    text-align: center;}



    #heartmenu.fa-heart{
        position: absolute;
        top: 6%;
        right: 30%;
        color: black;
}

#heartmenutotal.fa-heart{  
        position: absolute;
        top: 6%;
        right: 30%;
               
    }
    



   

    .menu-ecran{flex-direction: row; display: flex;justify-content: center;}
    
    .entrees{ 
        opacity: 0;
     animation-duration: 2s;
     animation-delay: 0.5s;
     animation-name: apparition;
     animation-fill-mode: forwards;
     width: 25%;
 }
 
 
 .plats{   
   opacity: 0;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-name: apparition;
     animation-fill-mode: forwards;
     width: 25%;
     margin-left: 5%;

 }
 
 .desserts{
     opacity: 0;
       animation-duration: 2s;
     animation-delay: 1.5s;
     animation-name: apparition;
     animation-fill-mode: forwards;
     width: 25%;
     margin-left: 5%;}

  


    .translate-check{
        background-color: $colortertiary;
        position:absolute;
        top: 0;
        height: 100%;
        width: 8em;
        margin-left: 100%;
        
                }


    .price{ 
    position: absolute;
    top: 40%;
    right: 5%;
    }

}