@media (min-width: 576px){

@keyframes apparition {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
@-moz-keyframes apparition  {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes apparition  {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-o-keyframes apparition  {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes loading-opacity { 
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes like {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
@-moz-keyframes like {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes like  {
    0%  {opacity:0;}
    100% {opacity:1;}
 }


 .ohmyfood-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 4em;
    
    
    }
    .retour{margin-left: -25%;
    margin-top: auto;
    margin-bottom: auto;
    }
    .fa-arrow-left{ color: black;
    font-size: 30px !important;
    }
    .logo-secondary {
    padding-top: 4%;
            width: 45%;
            height: 45%;
            margin-left: 15%;
    
    }		
    
    
    main{
    background-color: #f2f2f2;
    
    }
    
    
    
    
    .child1{ position: relative;
    z-index: 1;
    }
    
    .child2{position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 25px 25px 0 0;
    opacity: 1;
    background-color:#f2f2f2 ;
    margin-top: -10%;
    padding-left: 5%;
    padding-right: 5%;
    
    }
    
    .imgmain{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    
    h1{color:black;
    font-weight: 400;
    background-color: #f2f2f2;
    font-style: italic;
    font-family: Shrikhand;}
    
    .nomresto{display: flex;
    flex-direction: row;}
    
    
    
    #heartmenu.fa-heart{
        position: absolute;
        top: 1em;
        right: 1em;
        color: black;
}

#heartmenutotal.fa-heart{  
        position: absolute;
        top: 1em;
        right: 1em;
        background: -webkit-linear-gradient($colorprimary, $colorsecondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
            &:hover{animation: apparition 1s;}        
    }
    
    
    
    .underline{text-decoration: underline #a6fdd7;}
    
    h3{font-weight: bold;
    width: 80%;}
    .child2 p{width: 80%;}
    
    .entrées{ 
        opacity: 0;
     animation-duration: 2s;
     animation-delay: 0.5s;
     animation-name: apparition;
     animation-fill-mode: forwards;
 }
 
 
 .plats{   
   opacity: 0;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-name: apparition;
     animation-fill-mode: forwards;
 }
 
 .desserts{
     opacity: 0;
       animation-duration: 2s;
     animation-delay: 1.5s;
     animation-name: apparition;
     animation-fill-mode: forwards;}
    
    
    .ptn-entrees{
    position: relative;
        background-color: white;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 2%;
        border-radius: 25px;
        margin-top: 5%;
        display: block;
    
       
    }
    
    .ptn-plats{ 
    position: relative;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 25px;
    margin-top: 5%;
    display: block;
    }
    .ptn-desserts{ 
    position: relative;
    background-color: white;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 25px;
    margin-top: 5%;
    }
    
    
    .price{ 
    position: absolute;
    top: 40%;
    right: 5%;
    }
    
    .translate-check{
        background-color: $colortertiary;
        position:absolute;
        top: 0;
        height: 100%;
        width: 8em;
        margin-left: 20em;
        
                }

    #check.fa-check{
        margin-left: 1em;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        color:$colortertiary;
        background-color: white;
        line-height: 1.5em; 
        text-align: center;
        position: absolute;
        top: 30%;
      
    }            
    
    .price{ 
    position: absolute;
    right: 5%;
    
    }
   .ptn-entrees:hover .price{animation: slide 1s;}
   .ptn-entrees:hover .translate-check{animation: slide 1s;}
   .ptn-entrees:hover #check{animation: rotation 1s; }

   .ptn-plats:hover .price{animation: slide 1s;}
   .ptn-plats:hover .translate-check{animation: slide 1s;}
   .ptn-plats:hover #check{animation: rotation 1s; }

 
   .ptn-desserts:hover .price{animation: slide 1s;}
   .ptn-desserts:hover .translate-check{animation: slide 1s;}
   .ptn-desserts:hover #check{animation: rotation 1s; }

    
    .commander{color: white ; 
    background-color: #d560f8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    height: 3em;
    width: 14em;
    background:linear-gradient(175deg,$colorsecondary,$colorprimary);
        box-shadow: 0px 4px  10px grey;
        font-weight: bold;
        border: none;
        &:hover{box-shadow: 0px 4px  10px black; filter: brightness(1.10);}
    }
    
    .ohmyfoodnégatif{background-color: #535353;
    width: 13%;
    height: 10%;
    margin-top:2%;
    }
    .fa-utensils{padding-right: 0.5em;}
    .fa-hands-helping{padding-right: 0.5em;}
}