@media (min-width: 992px){
    .ohmyfood-secondary {
        display: flex;
        flex-direction: row;
        justify-content: center ;
        height: 4em;
        
        
        }
        .retour{
       position: absolute;
       left: 5%;
       top: 2%;
        }
        .fa-arrow-left{ color: black;
        font-size: 30px !important;
        }
        .logo-secondary {	
            position: relative;    
                padding-top: 2%;
                width: auto;
                height: 50%;
               
        
        }			
}