@media(min-width: 1920px)
{
	body 
		{
			display: flex;
			flex-direction: column;
			width: auto;
			height: auto;
			margin: 0%;
			font-family: Roboto;
			font-size: 27px;
		
	}



		.ohmyfoodindex {position: relative;
			display: flex;
			justify-content: center;
			vertical-align: middle;
			height: 9em;
			box-shadow: 0px 2px 5px #828282;
					
				}

		.logo {		    
			padding-top: 3%;
			width: 45%;
			height: 55%;
					}		

		.box-loca {
			display: flex;
			background-color: #d9d9d9;
			margin-bottom: 0px;
			margin-top: 0px;
			vertical-align: middle;
			align-items: center;
			justify-content: center;
			height: 7em;
					}

		.localisation{display:flex; text-align: center; padding-left: 1em;}
		.fa-map-marker-alt{ display: flex; padding-left: 1em; 
		}

	nav {
		display: flex;
		flex-direction: column;
		background-color: #f2f2f2;
		text-align: center;
		padding-bottom: 10%;
	}

	h2{font-weight: bold;
	text-align: center;}

	.navdiv{     
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 8%;}
			
			
	.nav-button{color: white ; 
				background-color: #d560f8;
				align-items: center;
				border-radius: 50px;
				height: 3em;
				width: 14em;
				box-shadow: inset -10px -4px  10px #784cb6;
				border: none;
				font-size: 25px;

			}



	section{padding-left: 5%;
	padding-right:5%;

	}
	.fonctionnement{ display: flex; flex-direction: row; justify-content: center;}
	.choisissez{
		position: relative;
		background-color: #f2f2f2;
		border-radius: 25px;
		padding-top: 1em;
		padding-bottom: 1em;
		font-weight: bold;
		justify-content: center;
		vertical-align: middle;
		margin-top: 5%;
		width: 20em;
	
	&:hover {background-color: #f9edfd}
	}

	.composez {    position: relative;
		background-color: #f2f2f2;
		border-radius: 25px;
		padding-top: 1em;
		padding-bottom: 1em;
		font-weight: bold;
		justify-content: center;
		vertical-align: middle;
		margin-top: 5%;
		margin-left: 5%;
		width: 20em;
		&:hover {background-color: #f9edfd}}	

	.degustez {    position: relative;
		background-color: #f2f2f2;
		border-radius: 25px;
		padding-top: 1em;
		padding-bottom: 1em;
		font-weight: bold;
		justify-content: center;
		vertical-align: middle;
		margin-top: 5%;
		margin-left: 5%;
		width: 20em;
		&:hover {background-color: #f9edfd}

	}


	.chiffre{   
		position: absolute;
		background-color: #9356DC;
		height: 2em;
		width: 2em;
		border-radius: 25px;
		display: flex;
		line-height: 2;
		color: white;
		justify-content: center;
		margin-left: -1em;
		margin-top: 0.5em;
			}

	.fa-mobile-alt{             position: absolute;
		width: 5%;
		margin-top: 6%;
		margin-left: 20%;}
	.fa-bars{            position: absolute;
		width: 5%;
		margin-top: 6%;
		margin-left: 20%;}
	.fa-store{           position: absolute;
		width: 5%;
		margin-top: 6%;
		margin-left: 20%;}

	.txt-fonct{margin-left: 39%;}

	.fa-heart{
	position: absolute;
	right: 5%;
	bottom: 15%;

	}

		
		





	#listeresto {		
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: #f2f2f2;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 10%;
		align-items: center;
		height: 50em;
		width: auto;
		}

	.lienresto{    
		position: relative;
		height: auto;
		width: 40%;
	}
	.lienresto#pari{    
		position: absolute;
		right: 55%;
		width: 25%;
		top: 10%;
		height: auto;}

	.lienresto#marius{ position: absolute;
		left: 55%;
		top: 10%;
		width: 25%;
		height: auto;}
	.lienresto#ly{   
		position: absolute;
    right: 55%;
    top: 55%;
    width: 25%;
    height: auto;}
	.lienresto#indian{position: absolute;
		left: 55%;
		top: 55%;
		height: auto;
		width: 25%;}

	legend{
			position: absolute;
			padding-left: 2%;
			padding-top: 2%;
			padding-bottom: 2%;
			padding-right: 2%;
			background-color: #a6fdd7;
			color: #037745;
			font-weight: bold;
			border-radius: 3px;
			width: auto;
			max-width: 100%;
			height: auto;
			top: 5%;
			right: 5%;
	}

	.imgresto{
			display: flex;
			width: 100%;
			max-width: 100%;
			height: auto;
			border-radius :25px 25px 0px 0px;
			z-index: 1;
			}	

	.ptn-resto{margin-top: -0.25em;
			background-color: white;
			border-radius: 0 0 25px 25px;
			padding-top: 1em;
			padding-left: 1em;
			padding-bottom: 1em;
			color: black;
			display: flex;
			flex-direction: column;
			
			
			}
	span{font-weight: bold;}

			




		
		



	footer {
		color: white;
		background-color: #535353;
		padding-left: 1em;
		margin-bottom: 0px;

		}

	.ohmyfoodnégatif{background-color: #535353;
		width: 30%;
		height: 10%;
		margin-top:5%;
	}
	.fa-utensils{padding-right: 0.5em;}
	.fa-hands-helping{padding-right: 0.5em;}
}
