@media (min-width: 410 px){
    
    body .loader{     
        padding-top: 75%;
       }
    
       .logo {		    
        padding-top: 6%;
        width: auto;
        height: 40%;
                }		
    
            
            .choisissez{
        padding-top: 1em;
        padding-bottom: 1em;
        }
        
            .composez {   
                padding-top: 1em;
                padding-bottom: 1em;
               }	
    
            .degustez {   
                padding-top: 1em;
                padding-bottom: 1em;
                
            
            }
    
            .chiffre{ 
                margin-left: -1em;
                margin-top: 0.5em;
                    }
    
            .fa-mobile-alt{        
                margin-top: 5%;
                margin-left: 12%;}
            .fa-bars{       
                margin-top: 5%;
                margin-left: 12%;}
            .fa-store{        
                margin-top: 5%;
                margin-left: 12%;}
    
        .txt-fonct{margin-left: 24%;}
    
        .coeurplein.fa-heart{
            top: 83%;
            right: 5%;
           
       
        }
        .coeurvide.fa-heart{
        
    top: 83%;
    right: 5%;} 
                
            
            
    
            .imgresto{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    }	
    
        footer {
               
                padding-left: 1em;
                margin-bottom: 0px;
    
                }
    
            
        }